@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    11 Jopie Fourie<br />
    Parow, Cape Town<br />
    <abbr title="Phone">Phone:</abbr>
    0659559772
</address>

<address>
    <strong>Support:</strong>   <a href="vongai@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>